<div class='hero'></div>
<div class='content__inner'>
  <div class='content__main'>
    <div class='content__bg'>
      <ul class='recommend list'>
        <% @blogs.each do |blog| %>
          <li class='recommend__item'>
            <a href=<%= blog.url %> class='recommend__inner'>
              <p class='company'><%= blog.company %></p><br />
              <%= blog.postday %>
              <h3 class='recommend__heading'><%= blog.title %></h3>
              <div class='recommend__information'>
                <div class='recommend__thumbnail'>
                  <%= image_tag blog.image %>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class='pager'>
      <div class='pager__pager'>
        <%= paginate(@blogs) %>
      </div>
    </div>
  </div>
