<div class='hero'></div>
<div class='content__inner'>
  <div class='content__main'>

    <% @blogs.each do |blog| %>
      <div class='content__bg'>
        <div class='change-with-device'>
          <div class='change-with-device__pc'>
            <a href= <%= blog.url %> target="blank" %>
              <%= blog.postday %><br />
              <%= blog.title %><br />
              <%= image_tag blog.image, width: "100px" %>
            </a>
          </div>
          <div class='change-with-device__sp'>
          </div>
        </div>
      </div>
    <% end %>
    <div class='pager'>
      <div class='pager__pager'>
        <%= paginate(@blogs) %>
      </div>
    </div>
  </div>
